a.nav-link Users
ul.nav.flex-column
  li.nav-item
    a(href='/users', class="nav-link") All Users
  li.nav-item
    a(href='/users/new', class="nav-link") New User
  li.nav-item
    a(href='/users/search', class="nav-link") Search User
a.nav-link Products
ul.nav.flex-column
  li.nav-item
    a(href='/products', class="nav-link") All Products
  li.nav-item
    a(href='/products/new', class="nav-link") New Product
  li.nav-item
    a(href='/products/search', class="nav-link") Search Product
  li.nav-item
    a(href='/categories', class="nav-link") Categories
a(href="/carts").nav-link Open Carts 
  span(class="badge badge-danger") 4
a.nav-link Transactions
ul.nav.flex-column
  li.nav-item
    a(href='/transactions', class="nav-link") All Transactions
