a.nav-link Users
ul.nav.flex-column
  li.nav-item
    a(href='/admin/users', class="nav-link") All Users
  li.nav-item
    a(href='/admin/users/new', class="nav-link") New User
  li.nav-item
    a(href='/admin/users/search', class="nav-link") Search User
a.nav-link Products
ul.nav.flex-column
  li.nav-item
    a(href='/admin/products', class="nav-link") All Products
  li.nav-item
    a(href='/admin/products/new', class="nav-link") New Product
  li.nav-item
    a(href='/admin/products/search', class="nav-link") Search Product
  li.nav-item
    a(href='/admin/categories', class="nav-link") Categories
a(href="/admin/carts").nav-link Open Carts
a.nav-link Transactions
ul.nav.flex-column
  li.nav-item
    a(href='/admin/transactions', class="nav-link") All Transactions
