doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/main.css')
  body
    header.navbar-dark.bg-dark
      nav.navbar
        a(class="navbar-brand" href="/") Credit
        div.collapse.navbar-collapse
          ul.navbar-nav
            li.nav-item
        form.form-inline
          if login
            a(href='/logout').nav-link Logout
          else
            a(href='/login').nav-link Login
    .container-fluid
      .row
        nav.sidenav.col-md-2.bg-light
          div.sidebar
            include components/nav-admin.jade


        main.col-md-10.px-4.pt-3.ml-sm-auto 
          block content

    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")

    script(src="/js/main.js")