extends ./layout

block content
  div.container
    div.d-flex.justify-content-center.align-items-center
      div
        h1.display-4= title
        if errors
          ul
            each item in errors
              li= item
        form(action="/auth", method="post")
          div.form-group
            input.form-control(type="text", name="username", value='batman')
          div.form-group
            input.form-control(type="text", name="password", value='test')
          div.form-group
            button.btn.btn-primary.btn-block(type="submit") Login