extends layout

block content
  div.container
    h1.display-4 Home
    p Welcome to #{title}

    each category in categories
      h4 #{category.name}
      ul.list-group
        each item in category.products
          li.list-group-item #{item.name}
                
