extends ../layout

block content
  div.container
    div.d-flex
      h1.display-4 Void: #{order.product.name} 
    div Quantity: #{order.quantity}
    form(action="/orders/#{order.id}/void?_method=PATCH", method="post")
      input(type="text" name="cart_id" value="#{order.cart_id}")
      input(type="text" name="quantity")
      button(type="submit" class="btn") Void
